<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Hello friend!</title>
  </head>
  <body>
    <h1>Places</h1>

    <form action="/places" method="post">
      <label for="cityName">Add a new place</label>
      <input id="cityName" name="cityName" type="text">
      <button type="submit">Submit</button>
    </form>

  </body>
</html>